body {
  margin: 0;
  overflow: hidden;
  color: #ededed;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#quoteContainer{
  position:absolute;
  width: 100%;
  z-index:15;
  top:40%;
  left:37%;
  text-align: center;
  margin:-100px auto auto -160px;
}

#centerQuote{
  min-width: 200px;
  max-width:700px;
}

#quoteText{
  text-align: center;
  font-size: 35px;
}

#quoteAuthor{
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

#weatherContainer{
  position: fixed;
  left: 30px;
  top: 30px;
}

#weatherContainer h4{
  padding: 1px;
  margin: 0px;
}

#imgHolder{
  position: fixed;
  top: -25%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#imgHolder img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#movieTitle{
  position: fixed;
  right: 30px;
  bottom: 30px;
}
