/*=============
GENERAL
==============*/

body {
  opacity: 0;
  margin: 0;
  overflow: hidden;
  color: #ededed;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none !important;
}

a {
  color:#ededed;
  text-decoration: none !important;
  text-shadow: 1px 1px black;
}

a:visited {
  color:#ededed;
}

.icon{
  position: relative;
  top:-3px;
  animation:turn 1.5s ease;
}

@keyframes turn{
100%{transform:rotate(360deg)}
}

.iconQuote{
  position: relative;
  top:0px;
}

/*=============
QUOTE CONTAINER
==============*/

#quoteContainer{
  opacity: 0;
  position: fixed;
  min-width: 920px;
  max-width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  animation: quoteChanger 10s infinite;
}

@keyframes quoteChanger {
  0%   { opacity: 0; }
  5%  { opacity: 0; }
  25% { opacity: 1; }
  85% { opacity: 1; }
}

.quotemark{
  position: relative;
  top:-11px;
}

#centerQuote{
  min-width: 200px;
  max-width: 100%;
}

#quoteText{
  text-align: center;
  font-size: 45px;
}

#quoteAuthor{
  text-decoration: none !important;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*=============
WEATHER CONTAINER
==============*/

#weatherContainer{
  position: fixed;
  left: 15px;
  top: 30px;
  color:#ededed;
}

#weatherContainer h4{
  padding: 1px;
  margin: 0px;
  text-decoration: none !important;
}

#weatherContainer a:visited{
  color:#ededed;
}

/*=============
MOVIE CONTAINER
==============*/
#movieType{
  position: absolute;
  bottom: 145px;
  right: 45px;
  margin-bottom: 10px;
}

#movieContainer{
  position: fixed;
  right: 30px;
  bottom: 5px;
 animation: movieHolder 2s ease;
}

@keyframes movieHolder {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#movieContainer div{
  list-style-type: none;
  float: left;
  width: 90px;
  text-align: center;
  font-size: 12px;
}

.posterContainer{
  height: 85px;
}

.shadow{
  -moz-box-shadow:    1px 1px 1px 1px black;
  -webkit-box-shadow: 1px 1px 1px 1px black;
  box-shadow:         1px 1px 1px 1px black;
}

.fa-film{
  position: fixed;
  bottom: 15px;
  right: 15px;
}

/*=============
BACKGROUND IMAGE
==============*/

#imgHolder{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -9999;
}

#imgHolder img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#imgTitleContainer{
  position: fixed;
  right: 15px;
  top: 25px;
  color:#ededed;
  text-align: center;
  font-size: 12px;
}
